<section>
  <div class="page-header">
    <h1>{{vm.project._id ? 'Edit Project' : 'New Project'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.projectForm" class="form-horizontal" ng-submit="vm.save(vm.form.projectForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="title">Project title</label>
          <input name="title" type="text" ng-model="vm.project.title" id="title" class="form-control" placeholder="Project Title">
          <div ng-messages="vm.form.projectForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Project title is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="startDate">Start Date</label>
          <input name="startDate" type="date" ng-model="vm.project.startDate" id="startDate" class="form-control" placeholder="startDate">
          <div ng-messages="vm.form.projectForm.startDate.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Project startDate is required.</p>
          </div>
        </div>
        
        <div class="col-xs-4">
          <!-- first expert -->
           <div class="form-group" show-errors>
            <label class="control-label" for="expertsName">First Expert's Full Name</label>
            <input name="startDate" type="text" ng-model="vm.project.experts.first.fullName" id="startDate" class="form-control" placeholder="Expert's Full Name">
            <div ng-messages="vm.form.projectForm.experts.first.fullName.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Project Expert's Name is required.</p>
            </div>
          </div>

           <div class="form-group" show-errors>
            <label class="control-label" for="expertsDesc">First Expert's Description</label>
            <textarea name="expertsDesc" type="text" ng-model="vm.project.experts.first.description" id="expertsDesc" class="form-control" placeholder="Expert's Description"></textarea>
            <div ng-messages="vm.form.projectForm.experts.first.description.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Project Expert's Desc is required.</p>
            </div>
          </div>
           
          <div class="form-group">
            <label for="firstStatus">First Expert Status</label>
            <select class="form-control" id="firstStatus" name="firstStatus" ng-model="vm.project.experts.first.status">
              <option value="pending">Pending</option>
              <option value="accepted">Accepted</option>
              <option value="rejected">Rejected</option>
            </select>
          </div>
        </div>

        <div class="col-xs-4">
          <!-- second expert -->
           <div class="form-group" show-errors>
            <label class="control-label" for="expertsName">Second Expert's Full Name</label>
            <input name="startDate" type="text" ng-model="vm.project.experts.second.fullName" id="startDate" class="form-control" placeholder="Expert's Full Name">
            <div ng-messages="vm.form.projectForm.experts.fullName.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Project Expert's Name is required.</p>
            </div>
          </div>

           <div class="form-group" show-errors>
            <label class="control-label" for="expertsDesc">Second Expert's Description</label>
            <textarea name="expertsDesc" type="text" ng-model="vm.project.experts.second.description" id="expertsDesc" class="form-control" placeholder="Expert's Description"></textarea>
            <div ng-messages="vm.form.projectForm.experts.second.description.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Project Expert's Desc is required.</p>
            </div>
          </div> 
          <div class="form-group">
            <label for="secondStatus">Second Expert Status</label>
            <select class="form-control" id="secondStatus" name="secondStatus" ng-model="vm.project.experts.second.status">
              <option value="pending">Pending</option>
              <option value="accepted">Accepted</option>
              <option value="rejected">Rejected</option>
            </select>
          </div>         
        </div>
        <div class="col-xs-4">
          <!-- third expert -->
           <div class="form-group" show-errors>
            <label class="control-label" for="expertsName">Third Expert's Full Name</label>
            <input name="startDate" type="text" ng-model="vm.project.experts.third.fullName" id="startDate" class="form-control" placeholder="Expert's Full Name">
            <div ng-messages="vm.form.projectForm.experts.third.fullName.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Project Expert's Name is required.</p>
            </div>
          </div>

           <div class="form-group" show-errors>
            <label class="control-label" for="expertsDesc">Third Expert's Description</label>
            <textarea name="expertsDesc" type="text" ng-model="vm.project.experts.third.description" id="expertsDesc" class="form-control" placeholder="Expert's Description"></textarea>
            <div ng-messages="vm.form.projectForm.experts.third.description.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Project Expert's Desc is required.</p>
            </div>
          </div>
          <div class="form-group">
            <label for="thirdStatus">Second Expert Status</label>
            <select class="form-control" id="thirdStatus" name="thirdStatus" ng-model="vm.project.experts.third.status">
              <option value="pending">Pending</option>
              <option value="accepted">Accepted</option>
              <option value="rejected">Rejected</option>
            </select>
          </div>            
        </div>


        <div class="form-group">
          <button type="submit" class="btn btn-primary">{{vm.project._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
