<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <h1>Dashboard</h1>
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Project Manager MEAN Application <br>
        as an assignment
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="alert alert-info">
        <table class="table table-hover"> 
          <thead> 
            <tr><th>Title</th> <th>Start Date</th> <th>Status</th> </tr> 
          </thead> 
          <tbody> 
            <tr><td><a href="/projects/59110c0a15416241070caedc">MarkStore</a></td> <td>20/11/2017</td> <td><span class="label label-primary">new</span></td></tr>
            <tr><td><a href="/projects/59110ed215416241070caedd">JacobShoe</a></td> <td>31/01/2018</td> <td><span class="label label-primary">new</span></td></tr>
            <tr><td><a href="/projects/59110ff11eb2f03008832ba5">LarryZone</a></td> <td>17/08/2017</td> <td><span class="label label-primary">new</span></td></tr> 
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-4">
      <div class="alert alert-warning">
        <table class="table table-hover"> 
          <thead> 
            <tr><th>Title</th> <th>Start Date</th> <th>Status</th> </tr> 
          </thead> 
          <tbody> 
            <tr><td><a href="/projects/59111a346717411d09e35e2d">Starking</a></td> <td>20/11/2017</td> <td><span class="label label-warning">pending</span></td></tr>
            <tr><td><a href="/projects/59111b7754aff64d090bc57d">WallZ</a></td> <td>31/01/2018</td> <td><span class="label label-warning">pending</span></td></tr>
            <tr><td><a href="/projects/59111c0454aff64d090bc57e">Pikant0</a></td> <td>17/08/2017</td> <td><span class="label label-warning">pending</span></td></tr> 
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-4">
      <div class="alert alert-danger">
        <table class="table table-hover"> 
          <thead> 
            <tr><th>Title</th> <th>Start Date</th> <th>Status</th> </tr> 
          </thead> 
          <tbody> 
            <tr><td>Darkstr</td> <td>20/01/2017</td> <td><span class="label label-danger">expired</span></td></tr>
            <tr><td>Noisik</td> <td>31/09/2016</td> <td><span class="label label-danger">expired</span></td></tr>
            <tr><td>Pandack</td> <td>01/05/2017</td> <td><span class="label label-danger">expired</span></td></tr> 
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container">
      by <a href="https://twitter.com/ahmedskaya">@ahmed</a>
    </div>
  </div>
</section>
