<section>
  <div class="page-header">
    <h1>History <small>not working</small></h1>
    <p>History of actions you have taken regarding Experts</p>
  </div>
  <div class="list-group">
      <table class="table table-hover"> 
        <thead> 
          <tr> <th>#</th> <th>Expert's Name</th> <th>Project</th> <th>Action Taken</th> <th>Datetime</th></tr> 
        </thead> 
        <tbody> 
          <tr> <th scope="row">1</th> <td>Kiva Tanaka</td> <td>Pikant0</td> <td>Approved</td><td>May 9, 2017</td> </tr> 
          <tr> <th scope="row">2</th> <td>Tony Generals</td> <td>Pikant0</td> <td>Approved</td><td>May 9, 2017</td> </tr> 
          <tr> <th scope="row">3</th> <td>Mark Antonio</td> <td>WallZ</td> <td>Rejected</td><td>May 9, 2017</td> </tr> 
          <tr> <th scope="row">4</th> <td>Kiva Tanaka</td> <td>Pikant0</td> <td>Approved</td><td>May 9, 2017</td> </tr> 
          <tr> <th scope="row">5</th> <td>Tony Generals</td> <td>JacobShoe</td> <td>Rejected</td><td>May 9, 2017</td> </tr> 
          <tr> <th scope="row">6</th> <td>Mark Antonio</td> <td>JacobShoe</td> <td>Rejected</td> <td>May 9, 2017</td></tr> 
        </tbody> 
      </table>
    </a>
  </div>
</section>
